---
http_interactions:
- request:
    method: post
    uri: https://dashboard.meraki.com/api/v0//networks/combined_network/vlans
    body:
      encoding: UTF-8
      string: '{"id":10,"name":"API VLAN","subnet":"192.168.220.0/30","applianceIp":"192.168.220.1"}'
    headers:
      X-Cisco-Meraki-Api-Key:
      - dashboard_api_key
      Content-Type:
      - application/json
  response:
    status:
      code: 308
      message: 
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://shard_id.meraki.com/api/v0/networks/combined_network/vlans
    body:
      encoding: UTF-8
      string: <html><body>You are being <a href="https://shard_id.meraki.com/api/v0/networks/combined_network/vlans">redirected</a>.</body></html>
  recorded_at: Sun, 20 Nov 2016 19:00:27 GMT
- request:
    method: post
    uri: https://shard_id.meraki.com/api/v0/networks/combined_network/vlans
    body:
      encoding: UTF-8
      string: '{"id":10,"name":"API VLAN","subnet":"192.168.220.0/30","applianceIp":"192.168.220.1"}'
    headers:
      X-Cisco-Meraki-Api-Key:
      - dashboard_api_key
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":10,"networkId":"combined_network","name":"API VLAN","applianceIp":"192.168.220.1","subnet":"192.168.220.0/30"}'
  recorded_at: Sun, 20 Nov 2016 19:00:27 GMT
- request:
    method: get
    uri: https://dashboard.meraki.com/api/v0//networks/combined_network/vlans/10
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      X-Cisco-Meraki-Api-Key:
      - dashboard_api_key
      Content-Type:
      - application/json
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://shard_id.meraki.com/api/v0/networks/combined_network/vlans/10
    body:
      encoding: UTF-8
      string: <html><body>You are being <a href="https://shard_id.meraki.com/api/v0/networks/combined_network/vlans/10">redirected</a>.</body></html>
  recorded_at: Sun, 20 Nov 2016 19:00:28 GMT
- request:
    method: get
    uri: https://shard_id.meraki.com/api/v0/networks/combined_network/vlans/10
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      X-Cisco-Meraki-Api-Key:
      - dashboard_api_key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":10,"networkId":"combined_network","name":"API VLAN","applianceIp":"192.168.220.1","subnet":"192.168.220.0/30"}'
  recorded_at: Sun, 20 Nov 2016 19:00:28 GMT
[...]
- request:
    method: delete
    uri: https://shard_id.meraki.com/api/v0/networks/combined_network/vlans/10
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      X-Cisco-Meraki-Api-Key:
      - dashboard_api_key
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 20 Nov 2016 19:00:29 GMT
recorded_with: VCR 3.0.3
