---
http_interactions:
- request:
    method: get
    uri: https://dashboard.meraki.com/api/v0//networks/combined_network/devices
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      X-Cisco-Meraki-Api-Key:
      - dashboard_api_key
      Content-Type:
      - application/json
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://shard_id.meraki.com/api/v0/networks/combined_network/devices
    body:
      encoding: UTF-8
      string: <html><body>You are being <a href="https://shard_id.meraki.com/api/v0/networks/combined_network/devices">redirected</a>.</body></html>
  recorded_at: Sun, 20 Nov 2016 18:59:52 GMT
- request:
    method: get
    uri: https://shard_id.meraki.com/api/v0/networks/combined_network/devices
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      X-Cisco-Meraki-Api-Key:
      - dashboard_api_key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"lat":37.4180951010362,"lng":-122.098531723022,"address":"","wan1Ip":null,"wan2Ip":null,"serial":"Q2QN-F5PZ-UEJC","mac":"e0:55:3d:02:02:ef","tags":"
        recently-added ","name":"API_TEST_NAME","model":"MX65"},{"lat":37.4180951010362,"lng":-122.098531723022,"address":"","lanIp":null,"serial":"ms_serial","mac":"00:18:0a:63:28:fe","tags":"
        recently-added ","name":"API_TEST_NAME","model":"MS42"},{"lat":37.4180951010362,"lng":-122.098531723022,"address":"","lanIp":null,"serial":"Q2DD-C57G-28MX","mac":"00:18:0a:32:5d:6e","tags":"
        recently-added ","name":"API_TEST_NAME","model":"MR16"}]'
  recorded_at: Sun, 20 Nov 2016 18:59:52 GMT
recorded_with: VCR 3.0.3
