---
http_interactions:
- request:
    method: put
    uri: https://dashboard.meraki.com/api/v0//networks/combined_network/ssids/0
    body:
      encoding: UTF-8
      string: '{"name":"API_SSID_UPDATED"}'
    headers:
      X-Cisco-Meraki-Api-Key:
      - dashboard_api_key
      Content-Type:
      - application/json
  response:
    status:
      code: 308
      message: 
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://shard_id.meraki.com/api/v0/networks/combined_network/ssids/0
    body:
      encoding: UTF-8
      string: <html><body>You are being <a href="https://shard_id.meraki.com/api/v0/networks/combined_network/ssids/0">redirected</a>.</body></html>
  recorded_at: Sun, 20 Nov 2016 19:00:08 GMT
- request:
    method: put
    uri: https://shard_id.meraki.com/api/v0/networks/combined_network/ssids/0
    body:
      encoding: UTF-8
      string: '{"name":"API_SSID_UPDATED"}'
    headers:
      X-Cisco-Meraki-Api-Key:
      - dashboard_api_key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"number":0,"name":"API_SSID_UPDATED","enabled":true,"authMode":"open"}'
  recorded_at: Sun, 20 Nov 2016 19:00:09 GMT
[...]
- request:
    method: put
    uri: https://shard_id.meraki.com/api/v0/networks/combined_network/ssids/0
    body:
      encoding: UTF-8
      string: '{"name":"API_SSID"}'
    headers:
      X-Cisco-Meraki-Api-Key:
      - dashboard_api_key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"number":0,"name":"API_SSID","enabled":true,"authMode":"open"}'
  recorded_at: Sun, 20 Nov 2016 19:00:09 GMT
recorded_with: VCR 3.0.3
