---
http_interactions:
- request:
    method: get
    uri: https://dashboard.meraki.com/api/v0//networks/combined_network/ssids
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      X-Cisco-Meraki-Api-Key:
      - dashboard_api_key
      Content-Type:
      - application/json
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://shard_id.meraki.com/api/v0/networks/combined_network/ssids
    body:
      encoding: UTF-8
      string: <html><body>You are being <a href="https://shard_id.meraki.com/api/v0/networks/combined_network/ssids">redirected</a>.</body></html>
  recorded_at: Sun, 20 Nov 2016 19:00:10 GMT
- request:
    method: get
    uri: https://shard_id.meraki.com/api/v0/networks/combined_network/ssids
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      X-Cisco-Meraki-Api-Key:
      - dashboard_api_key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"number":0,"name":"API_SSID","enabled":true,"authMode":"open"},{"number":1,"name":"Unconfigured
        SSID 2","enabled":false,"authMode":"open"},{"number":2,"name":"Unconfigured
        SSID 3","enabled":false,"authMode":"open"},{"number":3,"name":"Unconfigured
        SSID 4","enabled":false,"authMode":"open"},{"number":4,"name":"Unconfigured
        SSID 5","enabled":false,"authMode":"open"},{"number":5,"name":"Unconfigured
        SSID 6","enabled":false,"authMode":"open"},{"number":6,"name":"Unconfigured
        SSID 7","enabled":false,"authMode":"open"},{"number":7,"name":"Unconfigured
        SSID 8","enabled":false,"authMode":"open"},{"number":8,"name":"Unconfigured
        SSID 9","enabled":false,"authMode":"open"},{"number":9,"name":"Unconfigured
        SSID 10","enabled":false,"authMode":"open"},{"number":10,"name":"Unconfigured
        SSID 11","enabled":false,"authMode":"open"},{"number":11,"name":"Unconfigured
        SSID 12","enabled":false,"authMode":"open"},{"number":12,"name":"Unconfigured
        SSID 13","enabled":false,"authMode":"open"},{"number":13,"name":"Unconfigured
        SSID 14","enabled":false,"authMode":"open"},{"number":14,"name":"Unconfigured
        SSID 15","enabled":false,"authMode":"open"}]'
  recorded_at: Sun, 20 Nov 2016 19:00:10 GMT
recorded_with: VCR 3.0.3
