---
http_interactions:
- request:
    method: get
    uri: https://dashboard.meraki.com/api/v0//devices/ms_serial/switchPorts
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      X-Cisco-Meraki-Api-Key:
      - dashboard_api_key
      Content-Type:
      - application/json
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://shard_id.meraki.com/api/v0/devices/ms_serial/switchPorts
    body:
      encoding: UTF-8
      string: <html><body>You are being <a href="https://shard_id.meraki.com/api/v0/devices/ms_serial/switchPorts">redirected</a>.</body></html>
  recorded_at: Sun, 20 Nov 2016 19:00:12 GMT
- request:
    method: get
    uri: https://shard_id.meraki.com/api/v0/devices/ms_serial/switchPorts
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      X-Cisco-Meraki-Api-Key:
      - dashboard_api_key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"number":1,"name":null,"tags":null,"enabled":true,"poeEnabled":false,"type":"trunk","vlan":1,"voiceVlan":null,"allowedVlans":"all","isolationEnabled":false,"rstpEnabled":true,"stpGuard":"disabled","accessPolicyNumber":null},{"number":2,"name":"Port
        2","tags":null,"enabled":true,"poeEnabled":false,"type":"access","vlan":101,"voiceVlan":null,"allowedVlans":"all","isolationEnabled":false,"rstpEnabled":true,"stpGuard":"disabled","accessPolicyNumber":null},{"number":3,"name":null,"tags":null,"enabled":true,"poeEnabled":false,"type":"trunk","vlan":1,"voiceVlan":null,"allowedVlans":"all","isolationEnabled":false,"rstpEnabled":true,"stpGuard":"disabled","accessPolicyNumber":null},{"number":4,"name":null,"tags[...]
