---
http_interactions:
- request:
    method: post
    uri: https://dashboard.meraki.com/api/v0//organizations/dashboard_org_id/networks
    body:
      encoding: UTF-8
      string: '{"name":"DELETE ME","type":"appliance"}'
    headers:
      X-Cisco-Meraki-Api-Key:
      - dashboard_api_key
      Content-Type:
      - application/json
  response:
    status:
      code: 308
      message: 
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://shard_id.meraki.com/api/v0/organizations/dashboard_org_id/networks
    body:
      encoding: UTF-8
      string: <html><body>You are being <a href="https://shard_id.meraki.com/api/v0/organizations/dashboard_org_id/networks">redirected</a>.</body></html>
  recorded_at: Sun, 20 Nov 2016 19:01:40 GMT
- request:
    method: post
    uri: https://shard_id.meraki.com/api/v0/organizations/dashboard_org_id/networks
    body:
      encoding: UTF-8
      string: '{"name":"DELETE ME","type":"appliance"}'
    headers:
      X-Cisco-Meraki-Api-Key:
      - dashboard_api_key
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"N_613052499275828840","organizationId":"dashboard_org_id","type":"appliance","name":"DELETE
        ME","timeZone":"America/Los_Angeles","tags":""}'
  recorded_at: Sun, 20 Nov 2016 19:01:41 GMT
- request:
    method: get
    uri: https://dashboard.meraki.com/api/v0//networks/N_613052499275828840
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      X-Cisco-Meraki-Api-Key:
      - dashboard_api_key
      Content-Type:
      - application/json
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://shard_id.meraki.com/api/v0/networks/N_613052499275828840
    body:
      encoding: UTF-8
      string: <html><body>You are being <a href="https://shard_id.meraki.com/api/v0/networks/N_613052499275828840">redirected</a>.</body></html>
  recorded_at: Sun, 20 Nov 2016 19:01:41 GMT
- request:
    method: get
    uri: https://shard_id.meraki.com/api/v0/networks/N_613052499275828840
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      X-Cisco-Meraki-Api-Key:
      - dashboard_api_key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"N_613052499275828840","organizationId":"dashboard_org_id","type":"appliance","name":"DELETE
        ME","timeZone":"America/Los_Angeles","tags":""}'
  recorded_at: Sun, 20 Nov 2016 19:01:41 GMT
[...]
- request:
    method: get
    uri: https://shard_id.meraki.com/api/v0/organizations/dashboard_org_id/networks
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      X-Cisco-Meraki-Api-Key:
      - dashboard_api_key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Sun, 20 Nov 2016 19:01:42 GMT
    body:
      encoding: UTF-8
      string: '[{"id":"combined_network","name":"API Combined Network","timeZone":"America/Los_Angeles","tags":"","organizationId":"dashboard_org_id","type":"combined"},{"id":"N_613052499275828840","name":"DELETE
        ME","timeZone":"America/Los_Angeles","tags":"","organizationId":"dashboard_org_id","type":"appliance"}]'
  recorded_at: Sun, 20 Nov 2016 19:01:42 GMT
[...]
- request:
    method: delete
    uri: https://shard_id.meraki.com/api/v0/networks/N_613052499275828840
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      X-Cisco-Meraki-Api-Key:
      - dashboard_api_key
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 20 Nov 2016 19:01:43 GMT
recorded_with: VCR 3.0.3
