---
http_interactions:
- request:
    method: get
    uri: https://dashboard.meraki.com/api/v0//organizations/dashboard_org_id/inventory
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      X-Cisco-Meraki-Api-Key:
      - dashboard_api_key
      Content-Type:
      - application/json
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://shard_id.meraki.com/api/v0/organizations/dashboard_org_id/inventory
    body:
      encoding: UTF-8
      string: <html><body>You are being <a href="https://shard_id.meraki.com/api/v0/organizations/dashboard_org_id/inventory">redirected</a>.</body></html>
  recorded_at: Sun, 20 Nov 2016 18:59:58 GMT
- request:
    method: get
    uri: https://shard_id.meraki.com/api/v0/organizations/dashboard_org_id/inventory
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      X-Cisco-Meraki-Api-Key:
      - dashboard_api_key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"mac":"e0:55:3d:02:02:ef","serial":"Q2QN-F5PZ-UEJC","networkId":"combined_network","model":"MX65","claimedAt":"1479531925.35733"},{"mac":"00:18:0a:63:28:fe","serial":"ms_serial","networkId":"combined_network","model":"MS42","claimedAt":"1479531956.78074"},{"mac":"00:18:0a:32:5d:6e","serial":"Q2DD-C57G-28MX","networkId":"combined_network","model":"MR16","claimedAt":"1479531956.76124"},{"mac":"00:18:0a:7d:64:55","serial":"unclaimed_device","networkId":null,"model":"MS220-8P","claimedAt":"1479623010.98357"}]'
  recorded_at: Sun, 20 Nov 2016 18:59:58 GMT
recorded_with: VCR 3.0.3
