---
http_interactions:
- request:
    method: put
    uri: https://dashboard.meraki.com/api/v0//devices/ms_serial/switchPorts/2
    body:
      encoding: UTF-8
      string: '{"name":"API_PORT_UPDATED","type":"access","vlan":"101"}'
    headers:
      X-Cisco-Meraki-Api-Key:
      - dashboard_api_key
      Content-Type:
      - application/json
  response:
    status:
      code: 308
      message: 
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://shard_id.meraki.com/api/v0/devices/ms_serial/switchPorts/2
    body:
      encoding: UTF-8
      string: <html><body>You are being <a href="https://shard_id.meraki.com/api/v0/devices/ms_serial/switchPorts/2">redirected</a>.</body></html>
  recorded_at: Sun, 20 Nov 2016 19:00:11 GMT
- request:
    method: put
    uri: https://shard_id.meraki.com/api/v0/devices/ms_serial/switchPorts/2
    body:
      encoding: UTF-8
      string: '{"name":"API_PORT_UPDATED","type":"access","vlan":"101"}'
    headers:
      X-Cisco-Meraki-Api-Key:
      - dashboard_api_key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"number":2,"name":"API_PORT_UPDATED","tags":null,"enabled":true,"poeEnabled":false,"type":"access","vlan":101,"voiceVlan":null,"allowedVlans":"all","isolationEnabled":false,"rstpEnabled":true,"stpGuard":"disabled","accessPolicyNumber":null}'
  recorded_at: Sun, 20 Nov 2016 19:00:11 GMT
[...]
- request:
    method: put
    uri: https://shard_id.meraki.com/api/v0/devices/ms_serial/switchPorts/2
    body:
      encoding: UTF-8
      string: '{"name":"Port 2","type":"access","vlan":"101"}'
    headers:
      X-Cisco-Meraki-Api-Key:
      - dashboard_api_key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"number":2,"name":"Port 2","tags":null,"enabled":true,"poeEnabled":false,"type":"access","vlan":101,"voiceVlan":null,"allowedVlans":"all","isolationEnabled":false,"rstpEnabled":true,"stpGuard":"disabled","accessPolicyNumber":null}'
  recorded_at: Sun, 20 Nov 2016 19:00:12 GMT
recorded_with: VCR 3.0.3
