---
http_interactions:
- request:
    method: put
    uri: https://dashboard.meraki.com/api/v0//organizations/dashboard_org_id/snmp
    body:
      encoding: UTF-8
      string: '{"v2cEnabled":true}'
    headers:
      X-Cisco-Meraki-Api-Key:
      - dashboard_api_key
      Content-Type:
      - application/json
  response:
    status:
      code: 308
      message: 
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://shard_id.meraki.com/api/v0/organizations/dashboard_org_id/snmp
    body:
      encoding: UTF-8
      string: <html><body>You are being <a href="https://shard_id.meraki.com/api/v0/organizations/dashboard_org_id/snmp">redirected</a>.</body></html>
  recorded_at: Sun, 20 Nov 2016 18:59:57 GMT
- request:
    method: put
    uri: https://shard_id.meraki.com/api/v0/organizations/dashboard_org_id/snmp
    body:
      encoding: UTF-8
      string: '{"v2cEnabled":true}'
    headers:
      X-Cisco-Meraki-Api-Key:
      - dashboard_api_key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"v2cEnabled":true,"v3Enabled":false,"v3AuthMode":null,"v3PrivMode":null,"peerIps":null,"v2CommunityString":"o/_Uc9Lczb","hostname":"shard_id.meraki.com","port":16100}'
  recorded_at: Sun, 20 Nov 2016 18:59:57 GMT
recorded_with: VCR 3.0.3
