---
http_interactions:
- request:
    method: post
    uri: https://dashboard.meraki.com/api/v0//organizations/dashboard_org_id/clone
    body:
      encoding: UTF-8
      string: '{"name":"API CLONED ORG"}'
    headers:
      X-Cisco-Meraki-Api-Key:
      - dashboard_api_key
      Content-Type:
      - application/json
  response:
    status:
      code: 308
      message: 
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://shard_id.meraki.com/api/v0/organizations/dashboard_org_id/clone
    body:
      encoding: UTF-8
      string: <html><body>You are being <a href="https://shard_id.meraki.com/api/v0/organizations/dashboard_org_id/clone">redirected</a>.</body></html>
  recorded_at: Sun, 20 Nov 2016 19:00:06 GMT
- request:
    method: post
    uri: https://shard_id.meraki.com/api/v0/organizations/dashboard_org_id/clone
    body:
      encoding: UTF-8
      string: '{"name":"API CLONED ORG"}'
    headers:
      X-Cisco-Meraki-Api-Key:
      - dashboard_api_key
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":613052499275809126,"name":"API CLONED ORG","samlConsumerUrl":null,"samlConsumerUrls":[]}'
  recorded_at: Sun, 20 Nov 2016 19:00:07 GMT
recorded_with: VCR 3.0.3
