---
http_interactions:
- request:
    method: post
    uri: https://dashboard.meraki.com/api/v0//organizations/dashboard_org_id/admins
    body:
      encoding: UTF-8
      string: '{"email":"delete-me-khkdxjc59f@example.com","name":"delete me","orgAccess":"read-only"}'
    headers:
      X-Cisco-Meraki-Api-Key:
      - dashboard_api_key
      Content-Type:
      - application/json
  response:
    status:
      code: 308
      message: 
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://shard_id.meraki.com/api/v0/organizations/dashboard_org_id/admins
    body:
      encoding: UTF-8
      string: <html><body>You are being <a href="https://shard_id.meraki.com/api/v0/organizations/dashboard_org_id/admins">redirected</a>.</body></html>
  recorded_at: Sun, 20 Nov 2016 18:59:54 GMT
- request:
    method: post
    uri: https://shard_id.meraki.com/api/v0/organizations/dashboard_org_id/admins
    body:
      encoding: UTF-8
      string: '{"email":"delete-me-khkdxjc59f@example.com","name":"delete me","orgAccess":"read-only"}'
    headers:
      X-Cisco-Meraki-Api-Key:
      - dashboard_api_key
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":"delete me","email":"delete-me-khkdxjc59f@example.com","id":"613052499275823995","tags":[],"networks":[],"orgAccess":"read-only"}'
  recorded_at: Sun, 20 Nov 2016 18:59:54 GMT
[...]
- request:
    method: delete
    uri: https://dashboard.meraki.com/api/v0//organizations/dashboard_org_id/admins/613052499275823995
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      X-Cisco-Meraki-Api-Key:
      - dashboard_api_key
      Content-Type:
      - application/json
  response:
    status:
      code: 308
      message: 
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://shard_id.meraki.com/api/v0/organizations/dashboard_org_id/admins/613052499275823995
    body:
      encoding: UTF-8
      string: <html><body>You are being <a href="https://shard_id.meraki.com/api/v0/organizations/dashboard_org_id/admins/613052499275823995">redirected</a>.</body></html>
  recorded_at: Sun, 20 Nov 2016 18:59:56 GMT
- request:
    method: delete
    uri: https://shard_id.meraki.com/api/v0/organizations/dashboard_org_id/admins/613052499275823995
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      X-Cisco-Meraki-Api-Key:
      - dashboard_api_key
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 20 Nov 2016 18:59:56 GMT
recorded_with: VCR 3.0.3
