---
http_interactions:
- request:
    method: get
    uri: https://dashboard.meraki.com/api/v0//organizations
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      X-Cisco-Meraki-Api-Key:
      - dashboard_api_key
      Content-Type:
      - application/json
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://shard_id.meraki.com/api/v0/organizations
    body:
      encoding: UTF-8
      string: <html><body>You are being <a href="https://shard_id.meraki.com/api/v0/organizations">redirected</a>.</body></html>
  recorded_at: Sun, 20 Nov 2016 19:00:01 GMT
- request:
    method: get
    uri: https://shard_id.meraki.com/api/v0/organizations
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      X-Cisco-Meraki-Api-Key:
      - dashboard_api_key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":613052499275809124,"name":"API CLONED ORG","samlConsumerUrl":null,"samlConsumerUrls":[]},{"id":613052499275809113,"name":"API
        cloned org"},{"id":613052499275809118,"name":"DELETE ME ORG"},{"id":613052499275809115,"name":"API
        cloned org"},{"id":dashboard_org_id,"name":"API_UPDATED","samlConsumerUrl":null,"samlConsumerUrls":[]},{"id":613052499275809119,"name":"DELETE
        ME ORG"},{"id":613052499275809122,"name":"API CLONED ORG","samlConsumerUrl":null,"samlConsumerUrls":[]},{"id":613052499275809121,"name":"DELETE
        ME ORG"},{"id":238149,"name":"last_name"},{"id":613052499275809117,"name":"API
        CLONED ORG","samlConsumerUrl":null,"samlConsumerUrls":[]},{"id":318243,"name":"Derek
        Rivard"},{"id":613052499275809123,"name":"DELETE ME ORG"},{"id":613052499275809120,"name":"API
        CLONED ORG","samlConsumerUrl":null,"samlConsumerUrls":[]},{"id":613052499275809116,"name":"API
        test org"}]'
  recorded_at: Sun, 20 Nov 2016 19:00:01 GMT
recorded_with: VCR 3.0.3
