---
http_interactions:
- request:
    method: get
    uri: https://dashboard.meraki.com/api/v0//networks/combined_network/vlans
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      X-Cisco-Meraki-Api-Key:
      - dashboard_api_key
      Content-Type:
      - application/json
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://shard_id.meraki.com/api/v0/networks/combined_network/vlans
    body:
      encoding: UTF-8
      string: <html><body>You are being <a href="https://shard_id.meraki.com/api/v0/networks/combined_network/vlans">redirected</a>.</body></html>
  recorded_at: Sun, 20 Nov 2016 19:00:26 GMT
- request:
    method: get
    uri: https://shard_id.meraki.com/api/v0/networks/combined_network/vlans
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      X-Cisco-Meraki-Api-Key:
      - dashboard_api_key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":1,"networkId":"combined_network","name":"Default","applianceIp":"192.168.128.1","subnet":"192.168.128.0/24"},{"id":100,"networkId":"combined_network","name":"DELETE
        ME","applianceIp":"172.16.0.1","subnet":"172.16.0.0/24"}]'
  recorded_at: Sun, 20 Nov 2016 19:00:26 GMT
recorded_with: VCR 3.0.3
